{% extends "base.html" %}

{% block title %}
  Event Listings
{% endblock title %}
{% block content %}
  
<div class="row" style="margin-top: 7%;  margin-bottom: 3%;">
  <h1 style="text-align: center; margin-bottom: 0%;">events</h1>
  <p style="text-align: center;">These events are only the tip of the iceberg.</p>
</div>
<div class="search">
  <form method='GET' class="search-bar">
    {{ form }}
    <input class="button" type='submit' value="Search Profile"/>
  </form>
</div>
{% if events %}
<div class="row gx-5">
  {% for event in events.all %}
  <div class="col-md-4 col-sm-2 event-card card">

      <div class="card-body">
          <div class="row">
              <div class="col">
                  <h6 class="card-subtitle mb-2 text-muted badge" style="background-color: #FADA35">{{event.status }}</h6>

                  <a href="{% url 'users:event_detail' event.id %}" class="card-title stretched-link" style="text-decoration: none; color:#523911"><h5>{{ event.name }}</h5></a>
                  <h6 class="card-subtitle mb-2 text-muted">{{ event.organization }}</h6>
                  <!--<p class="card-text">{{ event.description|truncatechars:50 }}</p>-->
                  <span class="bi bi-geo-alt"> {{ event.location }}</span>
                  <br>
                  <span class="bi bi-calendar-event"> {{ event.start_date }} - {{event.end_date }}</span>
                  <div class="card-footer">{% if user in event.attendees.all %} <p class="card-text"></p>interested! ({{event.attendees.count}} attending)</p> {% endif %}

                  </div>
              </div>
              <p class="points-num align-middle" style=" margin-bottom: 0">${{ event.price }}</p>

          </div>

      </div>
  </div>
  {% endfor %}

</div>
{% else %}
<p>No events found.</p>
{% endif %}

{% endblock content %}
