{% extends "base.html" %}

{% load static %}

{% block title %}
  User:
  {{ object.name }}
{% endblock title %}
{% block content %}
  <div class="container">

    <div class="container body-content" style="">
      <div class="row" style="margin-bottom: 3%;">
          <h1 style="margin-bottom: 0%;">{{ object.name }} </h1>
          <p style="">{{ object.email }} {% if object == request.user %} | <a href="{% url 'account_email' %}">edit email</a> | <a href="{% url 'users:update' %}">edit name</a> {% endif %} </p>
          <br>
          <p>{{show_user.bio}}</p>
      </div>
  
      <div>
          <b>Interested Tags:</b>
          {% for tag in object.subscribed_tags.all %}
          <span class="badge">{{tag}}</span>
          {% endfor %}
      </div>
      <div>
          <b>Events Attended:</b>
          {% for event in object.events.all %}
          <div href="{% url 'users:event_detail' event.id %}" class="card-link">{{event}}</div>
          {% endfor %}
      </div>
      <div>
          <b>Subscribed Organizations:</b>
          {% for org in object.subscribed_organizations.all %}

            <div href="">{{org}}</span>
          {% endfor %}
      </div>
  </div>

  </div>
{% endblock content %}







