{% extends "base.html" %}

{% block title %}
  Event: {{ event.name|title }}
{% endblock title %}
{% block content %}
  <h1>{{ event.name }}</h1>
  <p>Information: {{ event.info }}</p>
  <p>Start Date: {{ event.start_date }}</p>
  <p>End Date: {{ event.end_date }}</p>
  <p>Organization: {{ event.organization.name }}</p>
  <p>Location: {{ event.location }}</p>
  <p>Attendees: {{ event.attendees.count }}/{{ event.max_attendees }}</p>
  <p>Price: {{ event.price }}</p>
  <h2>Tags</h2>
  {% for tag in event.tags.all %}<p>{{ tag.name }}</p>{% endfor %}
  <h2>Attendees</h2>
  {% for attendee in event.attendees.all %}<p>{{ attendee.name }}</p>{% endfor %}
  {% if user.is_authenticated %}
    {% if user in event.attendees.all %}
      <form action="{% url 'users:event_leave' event.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Cancel RSVP" />
      </form>
    {% else %}
      <form action="{% url 'users:event_join' event.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="RSVP" />
      </form>
    {% endif %}
  {% endif %}
{% endblock content %}
