{% extends "base.html" %}

{% block title %}
  Organization Listings
{% endblock title %}
{% block content %}
  {% for organization in organizations %}
    <div class="organization">
      <h2>
        <a href="{% url 'users:organization_detail' organization.id %}">{{ organization.name }}</a>
      </h2>
      <p>Category: {{ organization.category }}</p>
      <p>Event Type: {{ organization.event_type }}</p>
    </div>
  {% endfor %}
  {% if not organizations %}
    <p>There are no organizations in the database. Please contact support if you believe this to be unexpected.</p>
  {% endif %}
{% endblock content %}
