{% extends "base.html" %}
{% load static %}


{% block title %}
  Organization Listings
{% endblock title %}
{% block content %}
  
<div class="row" style="margin-top: 7%;  margin-bottom: 3%;">
  <h1 style="text-align: center; margin-bottom: 0%;">organizations</h1>
  <p style="text-align: center;">find the right WLMAC-partnered organization for you!</p>
</div>
<div class="search">
  <form method='GET' class="search-bar">
    {{ form }}
    <input class="button" type='submit' value="Search Profile"/>
  </form>
</div>
{% if organizations %}
<div class="row gx-5">
  {% for org in organizations %}
  <div class="col-md-4 col-sm-2 event-card card">
      <div class="card-body">
          <div class="row">
              <div class="col">
                {% for event in org.events %}
                  <h6 class="card-subtitle mb-2 text-muted badge" style="background-color: #FADA35">{{event.status }}</h6>
                  {% for tag in event.tags.all %}<p class="badge">{{ tag.name }}</p>{% endfor %}
                  <a href="{% url 'users:organization_detail' org.id %}" class="card-title stretched-link" style="text-decoration: none; color:#523911"><h5>{{ org.name }}</h5></a>
                  {% endfor %}
                  <h6 class="card-subtitle mb-2 text-muted">{{ org.category }}</h6>
                  <p class="card-text">{{ org.description|truncatechars:50 }}</p>
                  <span class="bi bi-geo-alt"> {{ org.event_type }}</span>
                  <br>
                  </div>
                  
              </div>
              <div class="card-footer">{% if user in event.attendees.all %} <p class="card-text"></p>interested! ({{event.attendees.count}} attending)</p> {% endif %}
          </div>

      </div>
      {% if user.is_authenticated %}
        {% if user in organization.subscribers.all %}
          <form action="{% url 'users:leave_organization' organization.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Unsubscribe" />
          </form>
        {% else %}
          <form action="{% url 'users:join_organization' organization.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Subscribe" />
          </form>
        {% endif %}
      {% endif %}

  </div>
  {% endfor %}
  {% else %}
  <p>No organizations found.</p>
  {% endif %}
</div>
{% if page_obj.has_previous or page_obj.has_next %}
      <div class="pagination">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a>
        {% endif %}
        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </div>
    {% endif %}


{% endblock content %}
