{% extends "base.html" %}

{% block title %}
  Stravos: Dashboard
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Dashboard</h1>
        <p>
          Welcome to the Stravos dashboard. Here you can view your recent activities, and see how you're doing against your goals.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Recent Activities</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Activity</th>
              <th>Distance</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            {% for activity in activities %}
              <tr>
                <td>{{ activity.start_date_local|date:'d/m/Y' }}</td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.distance|floatformat:2 }} km</td>
                <td>{{ activity.moving_time|floatformat:2 }} minutes</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h2>Goals</h2>
        <p>Here you can set goals for yourself, and track your progress against them.</p>
        <p>Coming soon...</p>
      </div>
    </div>
  </div>
{% endblock content %}
